<%= form_for(@unit) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
  <p>
    <label for="大楼楼号">大楼楼号:</label>    
<%= f.select :building_id, Building.all.collect { |mp| [mp.title, mp.id]} %>
  </p>
  <div class="field">
    序号：<br />
    <%= f.number_field :unit_no %>
  </div>
  <div class="field">
    套内面积M2：<br />
    <%= f.text_field :innerarea %>
  </div>
  <div class="field">
    建筑面积M2：<br />
    <%= f.text_field :buildarea %>
  </div>
  <div class="field">
    建筑单价（万元）：<br />
    <%= f.text_field :price_of_unit %>
  </div>
  <div class="field">
    建筑总价（万元）：<br />
    <%= f.text_field :price_of_total %>
  </div>
  <div class="field">
    业务员<br />
    <%= f.text_field :member %>
  </div>
  <div class="field">
    房屋状态<br />
    <%= f.select :state_id, State.all.collect { |mp| [mp.title, mp.id]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
