<h1>售楼单元信息</h1>

<table>
  <tr>
		<th>楼号</th>
    <th>序号</th>
    <th>套内面积</th>
    <th>建筑面积</th>
    <th>建筑单价（万元）</th>
    <th>建筑总价（万元）</th>
    <th>业务员</th>
    <th>房屋状态</th>
    
    <th></th>
    <th></th>
  </tr>

<% @units.each do |unit| %>
  <tr>
		<td><%= unit.building.title %></td>
    <td><%= unit.unit_no %></td>
    <td><%= unit.innerarea %></td>
    <td><%= unit.buildarea %></td>
    <td><%= unit.price_of_unit %></td>
    <td><%= unit.price_of_total %></td>
    <td><%= unit.member %></td>
    <td><%= unit.state.title %></td>
		
    <td><%#= link_to 'Show', unit %></td>
    <td><%= link_to '编辑', edit_unit_path(unit) %></td>
    <td><%= link_to '删除', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新建单元', new_unit_path %>
