<h1>Listing units</h1>

<table>
  <tr>
    <th>No</th>
    <th>Innerarea</th>
    <th>Buildarea</th>
    <th>Price of unit</th>
    <th>Price of total</th>
    <th>Member</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @units.each do |unit| %>
  <tr>
    <td><%= unit.no_id %></td>
    <td><%= unit.innerarea %></td>
    <td><%= unit.buildarea %></td>
    <td><%= unit.price_of_unit %></td>
    <td><%= unit.price_of_total %></td>
    <td><%= unit.member %></td>
    <td><%= unit.state %></td>
    <td><%= link_to 'Show', unit %></td>
    <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
    <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Unit', new_unit_path %>
